/* Global */

h1 {
    text-align: center;
}

p {
    text-align: center;
}

@font-face {
    font-family: "Computer Modern";
    src: url('Assets/cmunss.otf');
}

body {
    font-family: "Computer Modern", sans-serif;
}

/* Frontpage */

/* Page content */

.main, .frontpage {
    margin-left: 200px;
    /* Same as the width of the sidenav */
    column-gap: 40px;
    font-size: 18px;
}

/* Create two unequal columns that floats next to each other */

.column_left {
    float: left;
    width: 25%;
    padding-right: 50px;
}

.column_right {
    float: left;
    width: 70%;
}

/* Clear floats after the columns */

.row:after {
    content: "";
    display: table;
    clear: both;
}

/* Responsive layout - makes the three columns stack on top of each other instead of next to each other on smaller screens (600px wide or less) */

@media screen and (max-width: 600px) {
    .column {
        width: 100%;
    }
}

.frontpage img {
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 5px;
    display: block;
    float: center;
    width: 100%;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

/* Sidebar */

.frontpage_body_sidebar {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding: .5rem 1rem
}

.sidebar_column {
    flex: 33%;
}

/* The side navigation menu */

.sidenav {
    height: 100%;
    width: 200px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    padding-top: 20px;
}

/* The navigation menu links */

.sidenav a {
    padding: 8px 8px 32px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

/* When you mouse over the navigation links, change their color */

.sidenav a:hover {
    color: #f1f1f1;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */

@media screen and (max-height: 450px) {
    .sidenav {
        padding-top: 15px;
    }
    .sidenav a {
        font-size: 18px;
    }
}

/* Classics Page */

.classics_body_row {
    display: flex;
}

.classics_body_column {
    flex: 50%;
    text-align: center;
}

.classics_intro {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.classics_intro p {
    width: 50%;
}